absl-py==0.13.0

anaconda-navigator==2.0.3

appdirs==1.4.4
argh==0.26.2

astunparse==1.6.3

atomicwrites==1.4.0

backports.weakref==1.0.post1

bkcharts==0.2
black==19.10b0

boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
cachetools==4.2.2
certifi==2021.10.8

click==8.0.3

clyent==1.2.2
cmdstanpy==0.9.68

comtypes==1.1.10
conda==4.10.3
conda-build==3.21.4


conda-verify==3.4.2

convertdate==2.3.2

cycler==0.10.0

cytoolz==0.11.0

entrypoints==0.3
ephem==4.1
et-xmlfile==1.1.0
fastcache==1.1.0

flatbuffers==1.12

future==0.18.2
gast==0.4.0

gmpy2==2.0.8
google-auth==1.34.0
google-auth-oauthlib==0.4.5
google-pasta==0.2.0

grpcio==1.34.1
h5py==3.1.0

hijri-converter==2.2.2
holidays==0.11.3.1


jupyter==1.0.0

keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2

korean-lunar-calendar==0.2.1

llvmlite==0.36.0
locket==0.2.1
LunarCalendar==0.0.9

Markdown==3.3.4

matplotlib==3.4.3

mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.3.0

mkl-service==2.4.0

mpmath==1.2.1

multipledispatch==0.6.0
mypy-extensions==0.4.3
navigator-updater==0.2.1

nltk==3.6.5
nose==1.3.7

oauthlib==3.1.1

opencv-python==4.5.3.56

opt-einsum==3.3.0

pandas==1.2.5

parso==0.7.0

pathspec==0.7.0

patsy==0.5.1
pep8==1.7.1

Pillow==8.4.0
pkginfo==1.7.1

ply==3.11

protobuf==3.17.3

pyasn1==0.4.8
pyasn1-modules==0.2.8

pycosat==0.6.3

pycurl==7.44.1


PyMeeus==0.5.11

pyodbc===4.0.0-unsupported

pyreadline==2.1
k
pystan==2.19.1.1
pytest==6.2.4

pytz==2021.1

pywin32==228
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==6.0

QDarkStyle==2.8.1

rsa==4.7.2

setuptools-git==1.2
simplegeneric==0.8.1

sip==4.19.13

statsmodels==0.12.2
sympy==1.8
tables==3.6.1

tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow-estimator==2.5.0
tensorflow-gpu==2.5.0
termcolor==1.1.0
terminado==0.9.4

tk==0.1.0

torch==1.8.1

unicodecsv==0.14.1
urllib3==1.26.7

webencodings==0.5.1

widgetsnbextension==3.5.1

win-unicode-console==0.5
wincertstore==0.2
wrapt==1.12.1
xarray==0.20.1

xlwings==0.24.9
xlwt==1.3.0

zict==2.0.0

zope.event==4.5.0

